
.header{
    background: var(--main-btn-color);
    list-style-type: none;
    border-bottom: 1px solid #ECECEC;
}
.container-nav{
    display: flex;
}
.header-nav{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header-link {
    position: relative;
}
.header-link.current::after .link.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
    left: 0;
    bottom: -32px;
}


link.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
    left: 0;
    bottom: -32px;
}


.list-cont{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin: 0px;
}
.site-nav{
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
}


.site-nav .link.current {
    position: relative;
    color: var(--accent-text-color);
}
 
.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-colour);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--timing-function) var(--cubic);
}
.item{
    color:var(--main-title-color);
    margin: 0px;
    
}

.item:not(:last-child) {
    margin-right: 50px;
}
/*сыслку делаем синей и основной*/
.item:hover,
.item:focus,
.current {
    color: var(--accent-color);
    position: relative;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
}

.col {
    color: var(--primary-text-color) ;
    padding-top: 32px;
    padding-bottom: 32px;
}

.cont{
    margin-top: 0px;
    margin-bottom: 0px;
}

.cont+.cont{ 
    margin-left: 50px;
}

.cont-link:hover ,
.cont-link:focus{
    color: var(--accent-color);
}


.cont-icon {
    vertical-align: middle;
    margin-right: 10px;
    fill: currentColor;
}

