
.aside-icon{
    width: 100%;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.type-name{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:var(--main-title-color);  
    margin-bottom: 10px;
}

.type-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
    width: 270px;
}


@include desktop {
    .card-set{
        display: flex;
        flex-wrap: wrap;
    }
    
    .aside-item:not(:last-child) {
        margin-right: 30px;
    }
   
}
