
.form-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}


.form-subscribe__label {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: #fff;
}
.form-subscribe__input {
    display: inline-block;
    padding: 15px 0 15px 16px;
    margin-right: 12px;
    width: 358px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255,255,255,0.6);
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.3);
    -webkit-box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-subscribe__button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 28px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #fff;
    background-color: #2196f3;
    -webkit-box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-subscribe__icon {
    margin-left: 10px;
}