
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    background: rgba(0, 0, 0, 0.2);
  
    opacity: 1;
    transition: opacity var(--timing-duration) var(--transition-timing-function),
      visibility var(--timing-duration) var(--transition-timing-function);
}
  
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
  
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.75);
}
  
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    
    padding: 40px;
    height: 609px;
    width: 450px;
    
    background-color: var(--main-btn-color);
  
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--timing-duration) var(--transition-timing-function);
            
    @media screen and (min-width:1200px) {

        width: 528px;
        height: 581px;
      }
}

.modal-btn  {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 9px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: fill 1200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
    fill: var(--accent-color);
    transition: fill var(--timing-duration) var(--transition-timing-function);
}

/*.modal-close:hover
.modal-close:focus{
    border: #2196F3;
}*/

.modal-title {
    margin-bottom: 12px;
  
    color: var(--main-title-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;

    @media screen and (min-width:1200px) {
       line-height: 1.15;
    }
   
}
  
.modal-input {
    width: 100%;
    height: 40px;
  
    margin: 0;
    padding: 12px 12px 12px 42px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
  
    transition: border-color var(--timing-duration) var(--transition-timing-function),
      box-shadow var(--timing-duration) var(--transition-timing-function);
}
/* при классе modal-input в состочнии фокус для всех вложенных тегов применили focus и hover
и одновременно применили для ТЕГа textarea изменения focus и hover. Ниже расписала по отдельности 
.modal-input:focus-within,
.modal-input:hover,
  textarea:focus-within,
  textarea:hover {
    border-color: var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
      cursor: pointer;}*/
  
.modal-input:focus-within,
.modal-input:hover{
    border-color: var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
      cursor: pointer;    
}

.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-check:focus + .check-text span,
.modal-check:hover + .check-text span {
    border-color: var(--accent-color);
    cursor: pointer;
}

.modal-check:checked + .check-text span {
    background-color: var(--accent-color);
    border: none;
}
.modal-check:checked + .check-text .check-icon {
    fill: var(--main-btn-color);
}

.form-field:nth-child(-n + 3) {
    margin-bottom: 10px;
  
    transition: fill var(--timing-duration) var(--transition-timing-function);
}
 
  /*заливка иконок (hover focus)при признаке на общий div */ 
.form-field:focus-within,
.form-field:hover {
    fill: var(--accent-color);
}
  
.form-field label {
    color: var(--primary-text-color);
}
  
.form-field label{
    display: flex;
    margin-bottom: 4px;
  
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

}


.form-field.comment {
    margin-bottom: 20px;
}

.form-field.check {
    margin-bottom: 30px;
}

textarea:focus-within,
textarea:hover {
    border-color: var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
      cursor: pointer;    
}
  
textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
  
    padding: 12px 16px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
  
    transition: border-color var(--timing-duration) var(--transition-timing-function),
    box-shadow var(--timing-duration) var(--transition-timing-function);
}
  
textarea:placeholder-shown {
    color: rgba(117, 117, 117, 0.5);
}

.input-wrap {
    position: relative;
}
   
.button.modal-submit {
    padding: 10px 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--main-btn-color);
    background-color: var(--accent-color);
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

.check-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.check-link {
    margin-left: 4px;
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    
}
  
.check-text span {
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-title-color);
    border-radius: 2px;
}
  
.check-icon {
    fill: transparent;
}
