.section-about{
    padding-top: 0px;
    display: none;
    @media screen and (min-width: 1200px) {
        display: flex;
      }
}
.about-task{
    margin: 0px;
    margin-bottom: 50px;
    text-align: center;
    margin-left:auto ;
    margin-right:auto;
}
.about-img {
    display: flex;
     padding-inline-start: 0;
    justify-content: space-between;
}
.list-img:not(:last-child) {
    margin-right: 30px;
    display: flex;
}

.list-img {
    position: relative;
}
 
.about-item-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    text-transform: uppercase;
    color:var(--two-title-color);

}
