.portfolio{
    margin: -15px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
      }
    @media screen and (min-width: 1200px) {
        display: flex;
      
    }
}
.item-potfolio{
    margin: 15px;
    left: 215px;
    top: 262px;
    background: var(--two-title-color);
    border: 1px solid var(--card-portfol);

    @media screen and (min-width: 768px) {
        width: calc(100% / 12 * 6 - 30px);
      }

    @media screen and (min-width: 1200px) {
        width: calc(100% / 12 * 4 - 30px);
      }
}



.item-potfolio:not(:last-child) {
    margin-bottom: 30px;
}

.img-photo{
    display: block;
    height: auto;
}

img.img-photo{
    width: 100%;
}

.item-potfolio:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);;
}

.img-portf{
    width: 100%;
}
.img-portf:focus .portfolio-overlay,
.img-portf:hover .portfolio-overlay{
    transform: translateY(0);
}

.thumb {
    display: block;
    position: relative;
    overflow: hidden;
}

.portfolio-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--main-btn-color);
    background-color: hsla(207, 90%, 54%, 0.9);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.name-add{
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
}

.name-work{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
    margin-bottom: 4px;
}

.text-list{
    padding: 20px 24px;
}

.portfolio-projects-link img {
    display: block;
}
