.card-set {
  margin: -15px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.aside-item {
  margin: 15px;
  //border: 1px solid blue;
  &:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc(100% / 12 * 6 - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 12 * 3 - 30px);
  }
}
.aside-icon {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.type-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.type-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
